/* Overall Styling: mostly the nav bar */
nav.top-nav {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 4px 4px #0003;
  padding-left: 2em;
  z-index: 1;
}

nav.top-nav ul{
  list-style: none;
  text-align: right;
  padding: 0;
}

nav.top-nav li{
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: #228B22;
  margin: 5px;
  display: inline-block;
  padding: 5px;
  user-select: none;
  position: relative;
  text-align: right;
  font-size: 20px;
}

nav.top-nav a:link{
  text-decoration: none;
}

nav.top-nav a:visited{
  color: #228B22;
}

nav.top-nav a:hover{
  text-decoration: underline;
}

nav.top-nav a:active{
  color: #006400;
}

/* Styling for home page */
.home {
  /* The image used */
  background-image: url("main.jpeg");

  /* Set a specific height */
  height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text{
  color: white;
  position:sticky;
  top: 40%;
  left: 50%;
  text-align: center;
  text-shadow: 4px 4px 4px #000000;
  font-size: 30px;
}

#me{
  font-size: 50px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  margin-top: -30px;
}

.projects-container {
    height: 1000px;
    background-color: #eee;
		padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
}

.project-wrapper{
  height: 500px;
  width: 500px;
  margin-top: 50px;
}

#one{
  margin-left: 125px;
  background-color: #5CD85A;
}

#two{
  margin-left: 75px;
  background-color: #107869;
}









/* Stlying for bio page */

#portrait{
  height: 500px;
}
