main {
  margin-top: 100px;
  margin-left: 2em;
}

nav.top-nav {
  background-color: #28a;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 4px 4px #0003;
  padding-left: 2em;
}

nav.top-nav ul{
  list-style: none;
  padding: 0;
}

nav.top-nav li{
  font-family: sans-serif;
  font-weight: bold;
  color: #fffB;
  margin: 5px;
  display: inline-block;
  padding: 5px;
  user-select: none;
  position: relative;
  text-align: right;
}

nav.top-nav li:hover{
  text-decoration: underline;
}

nav.top-nav li:active{
  color: white;
}
