/* Overall Styling: mostly the nav bar */
html {
  scroll-behavior: smooth;
}

nav.top-nav {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 4px 4px #0003;
  padding-left: 2em;
  z-index: 1;
}

nav.top-nav ul{
  list-style: none;
  text-align: right;
  padding: 0;
}

nav.top-nav li{
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: #007304;
  margin: 5px;
  display: inline-block;
  padding: 5px;
  user-select: none;
  position: relative;
  text-align: right;
  font-size: 20px;
  padding-right: 10px;
}

nav.top-nav a:link{
  text-decoration: none;
    color: #007304;
}

nav.top-nav a:visited{
  color: #007304;
}

nav.top-nav a:hover{
  text-decoration: underline;
}

nav.top-nav a:active{
  color: #004600;
}

/* Styling for home page */
.home {
  /* The image used */
  background-image: url("main.jpeg");

  /* Set a specific height */
  height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* styling the name and intro text */
.text{
  color: white;
  position:sticky;
  top: 40%;
  left: 50%;
  text-align: center;
  text-shadow: 4px 4px 4px #000000;
  font-size: 30px;
}

#me{
  font-size: 50px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  margin-top: -30px;
}

/* styling the projects section */

#projects{
  background-color: #ddd;
  height: auto;
}

.project-title{
  padding-top: 90px;
  margin-left: 7.5%;
  display:block;
  color: #007304;
  font-family:'Courier New', Courier, monospace;
}

.past-projects-container {
    height: 600px;
		padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-links{
  margin-left: 15%;
  margin-right: 7.5%;
}

.project-wrapper{
  height: 85%;
  width: auto;
  color: white;
  position: relative;
}

.project-links:hover .project-wrapper{
  opacity: 0.8;
}

#one{
  float: left;
  background-color: #00493A;
}

#two{
  float: right;
  margin-left: 7.5%;
  margin-right: 15%;
  background-color: #490010 ;
}

.project-image{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  height: auto;
  width: 60%;
}

.project-name{
  font-family:'Courier New', Courier, monospace;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 18px;
  text-shadow:
        0.04em 0 black,
        0 0.04em black,
        -0.04em 0 black,
        0 -0.04em black;
}

.project-desc{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -10px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: left;
  font-size: 16px;
  text-shadow:
        0.04em 0 black,
        0 0.04em black,
        -0.04em 0 black,
        0 -0.04em black;
}



/* Slideshow container */
.slideshow-container {
  top: -30px;
  position: relative;
  background: white;
}

/* Slides */
.my-slides {
  margin-left: 7.5%;
  margin-right: 7.5%;
  width: auto;
  display: none;
  padding: 80px;
  text-align: left;
}

.essay-title{
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 18px;
  text-shadow:
        0.04em 0 black,
        0 0.04em black,
        -0.04em 0 black,
        0 -0.04em black;
}

.essay-desc{
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  text-shadow:
        0.04em 0 black,
        0 0.04em black,
        -0.04em 0 black,
        0 -0.04em black;
}

.my-slides a:link{
  text-decoration: none;
  color: white;
}

.my-slides a:visited{
  color: white;
}

.my-slides a:hover{
  text-decoration: underline;
}

.my-slides a:active{
  color: gray;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
  padding-left: 5.5%;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  padding-right: 5.5%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Styling for bio page */

.bio-container{
  margin-top: 125px; /* below the nav bar */
  display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  border: 5px #007304 solid;
  border-radius: 30px;
}

.bio-info{
  background-color: #ddd;
  width: 100%;
  height: 100%;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: left;
  line-height: 125%;
  border-radius: 0px 0px 25px 25px;
}

.bio-info p{
  padding-left: 10px;
  padding-right: 10px;
}

#portrait{
  width: 100%;
  position: relative;
  border-radius: 25px 25px 0px 0px;
}
